{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "lines-between-class-members": "off",
    "eqeqeq": "off",
    "no-eq-null": "off",
    "func-names": "off",
    "no-warning-comments": "off",
    "valid-jsdoc": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false, "classes": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
