<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title %></title>
</head>

<body>
<div id="app"></div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/6px/1.0.3/6px.min.js" integrity="sha256-myOS4U3CYKzoa3iyAJk51dZHGPQqbdH2XhMHm50g8QY=" crossorigin="anonymous"></script>
</body>
</html>
